.gift-certificates-body{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}

.add_certificate{
    display: flex;
    width: 10%;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #7FF893;
    border-color: #7FF893;
    color: white;
    margin-left: 15px;
}