<div class="gift-certificates-body">
  <button  class="add_certificate" routerLink="/add-certificate">
    Add Certificate
   </button>
  <table class="table table-bordered table-striped table-hover">
    <thead class="gift-certificates-head">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Short Description</th>
      <th scope="col">Long Description</th>
      <th scope="col">Price</th>
      <th scope="col">Duration</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let giftCertificate of giftCertificates">
      <td>{{ giftCertificate.name }}</td>
      <td>{{ giftCertificate.shortDescription }}</td>
      <td>{{ giftCertificate.longDescription }}</td>
      <td> {{ giftCertificate.price | currency}}</td>
      <td>{{ giftCertificate.duration }}</td>
      <td>
        <button  class="btn btn-outline-primary btn-sm btn-block" [routerLink]="['/certificates', giftCertificate.giftCertificateId]">
        DETAILS
    
       </button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
