html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  background-color: white;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}